.body {
  background-color: black;
}

.form {
  display: block;
  margin-top: 20px;
}

.form-chart {
  display: inline-block;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
  padding: 0px 20px;
  font-size: 14px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
  background-image: url("src/assets/banner2.png"), url("https://firebasestorage.googleapis.com/v0/b/gtcabin-eecbb.appspot.com/o/banner2.png?alt=media&token=b6d9e6bf-84ae-480d-94ec-d728cc7cd3a4");
  /*height: 500px; !* You must set a specified height *!*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Control the right side */
.right {
  right: 0;
  padding:0px 30px 30px 30px ;
}

.centered-right {
  /*background-color: #5a5c5e;*/
  position: absolute;

}

/* If you want the content centered horizontally and vertically */
.centered-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  text-align: center;
  margin: 0;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.banner-maintext {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  background-color: black;
  color: #dbd2c7;
  opacity: .6;
  margin: 0px;
  padding: 10px 0px;
}

.banner-subtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  margin: 0px;
  text-shadow: .3px .3px .2px #dbd2c7;
}

.banner-going {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #dbd2c7;
  margin: 0px;
}


.major-form, .age-form, .gender-form, .citizenship-form {
  width: 42%;
  display: inline-block;
}

.age-form, .citizenship-form{
  float: right;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin:0 auto;
  display:block;
}

.people {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: #BC3C56;
  width: auto;
  padding: 3px 5px;
  border-radius: 25%;
  font-size: 10px;
  margin: 2px;
}

.people .tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 200px;
  background-color: #dbd2c7;
  color: #dbd2c7;
  text-align: center;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.people:hover .tooltiptext {
  visibility: visible;
}

.location {
  padding: 20px 0px 0px 20px;
  text-align: center;
  width: 90%;
  height: 100px;
}

.location #date{
  font-weight: bold;
}

.info {
  padding: 0px 0px 0px 20px;
  text-align: center;
  width: 90%;
  height: 120px;
}

.info p {
  font-size: 16px;
}

.info-card, .location-card {
  margin-top:20px;
  height: 120px;
}

.line-chart-card {
  padding-top: 30px;
  height: 420px;
  display: inline-block;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}


