.body {
  background-color: black;
}

.form {
  display: block;
  margin-top: 20px;
}

.form-chart {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
  padding: 0px 20px;
  font-size: 14px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
  background-image: url("src/assets/banner2.png"), url("https://firebasestorage.googleapis.com/v0/b/gtcabin-eecbb.appspot.com/o/banner2.png?alt=media&token=b6d9e6bf-84ae-480d-94ec-d728cc7cd3a4");
  /*height: 500px; !* You must set a specified height *!*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Control the right side */
.right {
  right: 0;
  padding:0px 30px 30px 30px ;
}

.centered-right {
  /*background-color: #5a5c5e;*/
  position: absolute;

}

/* If you want the content centered horizontally and vertically */
.centered-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  text-align: center;
  margin: 0;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.banner-maintext {
  font-family: 'Permanent Marker', sans-serif, cursive;
  font-size: 80px;
  background-color: black;
  color: #dbd2c7;
  opacity: .6;
  margin: 0px;
  padding: 10px 0px;
}

.banner-subtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  margin: 0px;
  text-shadow: .3px .3px .2px #dbd2c7;
}

.banner-going {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #dbd2c7;
  margin: 0px;
}


.major-form, .age-form, .gender-form, .citizenship-form {
  width: 42%;
  display: inline-block;
}

.age-form, .citizenship-form{
  float: right;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin:0 auto;
  display:block;
}

.people {
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: #BC3C56;
  padding: 15px 30px;
  border-radius: 2.5px;
  font-size: 12px;
  margin: 3px;
}

.people-name {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;

}

.people-info {
  font-size: 11px;
  display: none;
  color: darkgrey;
}

.people-card {
  height: auto;
  width: auto;
}

.people:hover .people-info {
  display: flex;
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.people:hover .people-img{
  display: inline-block;
}

.people:hover .people-name{
  display: none;
}

.people:hover {
  background-color: #9e384d;
  padding: 0px;
  height: auto;
  width: 100px;
}

.people-img {
  display: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  height: 80px;
  width: 100px;
  border-radius: 3px;
  //background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111111;
  background-position: center;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;

}

.location-card {
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url("src/assets/mountain2.png");
  //background-image: url("src/assets/mountain.png");
  background-size: 100% 100%;
}

.location, .info {
  padding: 25px 0px 0px 20px;
  text-align: center;
  width: 90%;
  min-height: 150px;
}

.location #date, #airbnb-detail, #direction-from-gt{
  font-weight: bold;
  text-decoration: none;
}

#date {
  font-size: 24px;
}

#direction-from-gt {
  color: darkred;
}

.info {
  padding: 0px 0px 0px 20px;
  text-align: center;
  width: 90%;
  height: 120px;
}

.info p {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.8;
}

.info-card, .location-card {
  margin-top: 20px;
  height: auto;
}

.graph-4-card {
  padding: 30px 0px 0px 0px;
  height: auto;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.graph-5-card {
  padding-top: 30px;
  height: auto;
  max-height: 600px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

//center ngx-charts-advanced-pie-chart
.graph-1 {
  width: auto;
  display: flex;
  align-self: center;
}

.graph-1 .graph-1-inner {
  display: inline-block;
  margin: 0 auto;
}

//center ngx-charts-advanced-pie-chart
.graph-3 {
  margin-top: 20px;
  width: auto;
  display: table;
  align-self: center;
}

.graph-3 .graph-3-inner {
  display: inline-block;
  margin: 0 auto;
}


//center ngx-charts-advanced-pie-chart
.graph-4 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-self: center;
}

.graph-2 .graph-2-inner {
  display: inline-block;
  margin: 0 auto;
}

.graph-2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-self: center;
  overflow: hidden;
}

.graph-4 .graph-4-inner {
  display: inline-block;
  margin: 0 auto;
}

//center ngx-charts-advanced-pie-chart
.graph-5 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-self: center;
}

.graph-5 .graph-5-inner {
  display: inline-block;
  margin: 0 auto;
}

.graph-5-card {
  margin-bottom: 200px;
}





