
<div class="split left">
  <div class="centered-left">
    <p class="banner-maintext">BikeCabin</p>
    <p class="banner-subtext">BlueRidge, GA 2018</p>
  </div>
</div>

<div class="split right mat-app-background">
  <div class="centered-right">
    <mat-form-field>
      <mat-select placeholder="Status" [(value)]="survey.status">
        <mat-option value="Single">Single</mat-option>
        <mat-option value="Taken">Taken</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Gender" [(value)]="survey.gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveEntry()">Save Entry</button>

    <ngx-charts-pie-chart *ngIf = "chartdata"
                          [view]="view"
                          [scheme]="colorScheme"
                          [results]="statusData"
                          [legend]="showLegend"
                          [explodeSlices]="explodeSlices"
                          [labels]="showLabels"
                          [doughnut]="doughnut"
                          (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->

