<div>
  <p class="banner-going">{{nameData.length}} going</p>
</div>

<div class="split left">
  <div class="centered-left">
    <p class="banner-maintext">BikeCabin</p>
    <p class="banner-subtext">BlueRidge, GA 2018</p>
  </div>
</div>

<div class="split right mat-app-background">
  <a id="anchor-top"></a>
  <mat-tab-group>
    <mat-tab label="About" class="about-tab">

      <mat-card class="info-card">
        <div class="info">
          <p>Thu đến và đi, như những gì đã sắp đặt. Nhân dịp Fall Break 2018, hội sinh viên GT tổ chức 3 ngày cắm trại thường niên ở cabin Blue Ridge, GA. Mục đích nhằm chào mừng thành viên mới, họp mặt thành viên cũ và giao lưu gắn kết để xây dựng tềnh bạn, tềnh yêu và nhiều thứ tình phức tạp khác nữa.</p>
        </div>
      </mat-card>

      <div class="graph-1">
        <div class="graph-1-inner">
          <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="genderData"
            [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>

    </mat-tab>
    <mat-tab class="location-tab" label="Information">

      <mat-card class="location-card">
        <div class="location">
          <a id="airbnb-detail" href="https://www.airbnb.com/rooms/22687095?checkin=2018-10-05&checkout=2018-10-07&source=handoff-ios&s=41&ref_device_id=5546c96bdbdb5c3e809d1ce87e0c091aa1be5a13&user_id=30075165&_branch_match_id=565052620375895185">AirBnb  DETAIL INFORMATION</a>
          <br>
          <p id="date">October 5th - 9th 2019</p>
          <a id="direction-from-gt" href="https://www.facebook.com/events/288302675335011/">FACEBOOK EVENT PAGE</a>
          <p>*** NHỚ ĐEM ĐỒ BƠI (Jacuzzi, water Fall, hiking) ***</p>
        </div>
      </mat-card>

      <mat-card class="people-card">
        <div class="people" *ngFor="let people of surveyData">
          <div class="people-name">{{people.name}}</div>
          <div class="people-img" [ngStyle]="{ 'background-image': 'url(' + people.img + ')'}"></div>

          <div class="people-info">
            Năm sinh: {{people.age}}
            <br>
            Status: {{people.status}}
            <br>
            Major: {{people.major}}
          </div>

        </div>
      </mat-card>

    </mat-tab>

    <mat-tab label="Thống Kê">
      <div class="stat">

        <mat-card class="form">
          <mat-form-field>
            <input matInput name="survey.name" type="text" placeholder="Tên"
                   [(ngModel)]="survey.name" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>


          <mat-form-field class="major-form">
            <mat-select placeholder="Major" [(value)]="survey.major">
              <mat-option *ngFor="let major of majors" [value]="major.value">
                {{major.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="age-form">
            <mat-select placeholder="Năm sinh" [(value)]="survey.age">
              <mat-option *ngFor="let year of years" [value]="year.value">
                {{year.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="gender-form">
            <mat-select placeholder="Gender" [(value)]="survey.gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Ahihi">Ahihi</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="citizenship-form">
            <mat-select placeholder="Quốc tịch" [(value)]="survey.citizenship">
              <mat-option value="Green">Xanh</mat-option>
              <mat-option value="Red">Đỏ</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Status" [(value)]="survey.status">
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Cố ý single">Single no mingo</mat-option>
              <mat-option value="Taken">Taken</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="submit-button" color="primary" (click)="saveEntry()">Tao Đi !</button>
        </mat-card>

        <div class="graph-1">
          <div class="graph-1-inner">
            <ngx-charts-advanced-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="genderData"
              [gradient]="gradient">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>

        <mat-card>
          <div class="graph-2">
            <div class="graph-2-inner">
              <ngx-charts-pie-chart *ngIf = "chartdata"
                                    [view]="gridView"
                                    [scheme]="colorScheme"
                                    [results]="statusData"
                                    [legend]="showLegend"
                                    [legendTitle]="legendRelationship"
                                    [explodeSlices]="explodeSlices"
                                    [labels]="showLabels"
                                    [doughnut]="doughnutFalse">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </mat-card>

        <div class="graph-3">
          <div class="graph-3-inner">
            <ngx-charts-pie-chart *ngIf = "chartdata"
                                  [view]="gridView"
                                  [scheme]="colorScheme"
                                  [results]="majorData"
                                  [legend]="showLegend"
                                  [legendTitle]="legendMajor"
                                  [explodeSlices]="explodeSlices"
                                  [labels]="showLabels"
                                  [doughnut]="doughnut">
            </ngx-charts-pie-chart>
          </div>
        </div>

        <mat-card class="graph-4-card">
          <div class="graph-4">
            <div class="graph-4-inner">
              <ngx-charts-pie-grid
                [view]="gridView"
                [scheme]="colorScheme"
                [results]="citizenshipData">
              </ngx-charts-pie-grid>
            </div>
          </div>
          <div>
            <p>
              Biểu đồ tình trạng quốc tịch
            </p>
          </div>
        </mat-card>

        <mat-card class="graph-5-card">
          <div class="graph-5">
            <div class="graph-5-inner">
              <ngx-charts-bar-vertical
                [view]="gridView"
                [scheme]="colorScheme"
                [results]="ageData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </mat-card>

        <div class="graph-6">
        </div>


        <div class="scroller" (click)="scrollDown()">
          <div>Click to Scroll</div>
        </div>

      </div>
    </mat-tab>

    <mat-tab label="Media">
      <slideshow [imageUrls]="imageUrls"></slideshow>

      <slideshow [minHeight]="'525px'"
                 [autoPlay]="true"
                 [showArrows]="false"
                 [imageUrls]="imageUrls"
                 [lazyLoad]="imageUrls?.length > 1"
                 [autoPlayWaitForLazyLoad]="true">
      </slideshow>
    </mat-tab>
  </mat-tab-group>

</div>


<!--The content below is only a placeholder and can be replaced.-->

